{% extends "todo/base.html" %}

{% block title %}
Home Page
{% endblock title %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"> <center>Todo App</center> </h1>
        <p class="lead"> <center> Lütfen Buraya olusturmak istediginiz ToDo yu  giriniz</center> </p>
        <hr class="my-4">
        <center> <a class="btn btn-primary btn-lg" href="{% url 'create' %}" role="button">Create ToDo</a></center>
    </div>
   
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">FINISHED</th>
            <th scope="col">TODO</th>
            <th scope="col">CONTENT</th>
            <th scope="col">TIME</th>
            <th scope="col">UPDATE</th>
            <th scope="col">DELETE</th>
        </tr>
        </thead>
        <tbody>


            {% for todo in todo_list %}
            {% if todo.finished %} 
           <tr>
            <td><a class="btn btn-success" href="{% url 'yesfinished' todo.id %}" role="button">YES</a> </td>
            <td>  <del>{{ todo.title }} </del></td>
            <td><del> {{ todo.content }}</del></td>
            <td> {{ todo.date }}</td>
            <td><a class="btn btn-danger" href="{% url 'delete' todo.id %}" role="button">DELETE</a></td>
            <td><a class="btn btn-warning" href="{% url 'update' todo.id %}" role="button">UPDATE</a></td>
          </tr>
          {% else %}
          <tr>
            <td><a class="btn btn-danger" href="{% url 'nofinished' todo.id %}" role="button">NO</a></td>
            <td> {{ todo.title }} </td>
            <td> {{ todo.content }}</td>
            <td> {{ todo.date }}</td>
            <td><a class="btn btn-danger" href="{% url 'delete' todo.id %}" role="button">DELETE</a></td>
            <td><a class="btn btn-warning" href="{% url 'update' todo.id %}" role="button">UPDATE</a></td>
          </tr>


          {% endif %}
          {% endfor %}
        </tbody>
      </table>

    

</div>
{% endblock content %}
